.container {
  background-color: #5e167b;
  text-align: center;
  padding: 15px;
  width: 100%;
}

.number { 
  color: white;
  padding: 5px;
  font-weight: 800;
  font-size: 25px;
}

.property {
  color: #d365ef;
  font-size: 15px;
}