.user-container {
  min-width: 400px;
  margin-top: 20px;
}

.user-public-info {
  display: inline-flex;
  width: 100%;
}

.user-avatar {
  margin-top: 50px;
  margin-bottom: 50px;
}

.user-name {
  font-size: 20px;
  color: black;
}

.user-location, .user-work {
  font-size: 15px;
}